<%= form_with url: post_comments_path(@post), method: :post do |form|%>
  <div>
    <%= form.label :name, "Comment Title"%>
    <%= form.text_field :name, name: "comment[name]" %>
  </div>

  <div>
    <%= form.label :body, "Comment Body"%>
    <%= form.text_area :body, name: "comment[body]" %>
  </div>

  <div>
    <%= form.submit "Submit" %>
  </div>
<%end %>
